
A	
1. 2019년 실적데이터 에서 취급액 50,000원으로 판매단가가 취급액보다 더 큰 상품의 데이터 값의 의미?

- 2019년 실적데이터에서 취급액이 50,000원인 데이터는 데이터 정제과정에서 발생된 오류값으로.
  취급액이 50,000원에 해당되는 상품에 대한 취급액은 0원으로 변경(주문량 0인 값)
※ 해당내용을 반영한 데이터 수정 업데이트 완료(8/18, 주문량 0인 값은 공백으로 표기 처리함)

 

2. 취급액 = 판매단가 X 주문량 에서 주문량이 소수점으로 나오는 이유는?

- 일반적으로 취급액의 수식을 적용하면 일반적으로 판매단가X주문량이 맞습니다.
  실제 현업에서 실적을 집계할때 고객이 실제 주문한 금액을 합산해서 보고있기 때문에 수식을 적용한것과는 차이가 있을 수 있습니다.
  고객이 상품을 구매할때 판매가를 그대로 지불하지 않고 할인쿠폰 적용, ARS할인, 일시불할인, 카드사할인 등 여러가지 경로로 할인된 금액을 지불하고있습니다.
  (단, 결제시 적립금, 상품권 등을 사용하여 실결제금액이 바뀌는 경우는 해당사항 없음)
  이에 주문량이 소수점으로 발생할 수 있음을 참고하여 주시기 바랍니다.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
path = "maindata/01_제공데이터/"
df = pd.read_excel(path+'2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터.xlsx',skiprows = [0] )
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38309 entries, 0 to 38308
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    38309 non-null  datetime64[ns]
 1   노출(분)   21525 non-null  float64
 2   마더코드    38309 non-null  int64
 3   상품코드    38309 non-null  int64
 4   상품명     38309 non-null  object
 5   상품군     38309 non-null  object
 6   판매단가    38309 non-null  int64
 7   취급액     37372 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 2.3+ MB

In [14]:
df.describe(include = 'all')

c:\users\user\.conda\envs\tfv2\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
count,38309,21525.000000,38309.000000,38309.000000,38309,38309,3.830900e+04,3.737200e+04
unique,21525,NaN,NaN,NaN,1770,12,NaN,NaN
top,2019-08-09 21:00:00,NaN,NaN,NaN,한일 대용량 스텐 분쇄믹서기,주방,NaN,NaN
freq,8,NaN,NaN,NaN,401,6604,NaN,NaN
first,2019-01-01 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2020-01-01 01:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,20.174664,100390.972148,201219.923334,NaN,NaN,4.565537e+05,2.187305e+07
std,NaN,3.633757,249.927870,735.677344,NaN,NaN,7.260555e+05,2.019140e+07
min,NaN,2.466667,100000.000000,200000.000000,NaN,NaN,0.000000e+00,5.000000e+04
25%,NaN,20.000000,100155.000000,200550.000000,NaN,NaN,5.900000e+04,6.880750e+06
50%,NaN,20.000000,100346.000000,201167.000000,NaN,NaN,1.090000e+05,1.612950e+07
75%,NaN,20.000000,100596.000000,201863.000000,NaN,NaN,4.990000e+05,3.163125e+07
max,NaN,60.000000,100849.000000,202513.000000,NaN,NaN,7.930000e+06,3.220090e+08

In [15]:
df.describe()

              노출(분)           마더코드           상품코드          판매단가           취급액
count  21525.000000   38309.000000   38309.000000  3.830900e+04  3.737200e+04
mean      20.174664  100390.972148  201219.923334  4.565537e+05  2.187305e+07
std        3.633757     249.927870     735.677344  7.260555e+05  2.019140e+07
min        2.466667  100000.000000  200000.000000  0.000000e+00  5.000000e+04
25%       20.000000  100155.000000  200550.000000  5.900000e+04  6.880750e+06
50%       20.000000  100346.000000  201167.000000  1.090000e+05  1.612950e+07
75%       20.000000  100596.000000  201863.000000  4.990000e+05  3.163125e+07
max       60.000000  100849.000000  202513.000000  7.930000e+06  3.220090e+08

In [16]:
df["상품군"].value_counts()

주방      6604
가전      6479
의류      4340
속옷      3919
잡화      3891
농수축     3884
생활용품    2877
가구      2614
이미용     1305
무형       937
건강기능     790
침구       669
Name: 상품군, dtype: int64

In [17]:
df.head(20)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
5,2019-01-01 06:40:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0
6,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0
7,2019-01-01 07:20:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000.0
8,2019-01-01 07:40:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,25370000.0
9,2019-01-01 08:00:00,20.0,100808,202377,CERINI by PAT 남성 소프트 기모 릴렉스팬츠,의류,59900,16133000.0
10,2019-01-01 08:20:00,20.0,100808,202377,CERINI by PAT 남성 소프트 기모 릴렉스팬츠,의류,59900,30061000.0
11,2019-01-01 08:40:00,20.0,100808,202377,CERINI by PAT 남성 소프트 기모 릴렉스팬츠,의류,59900,53542000.0
12,2019-01-01 09:00:00,20.0,100816,202404,보코 리버시블 무스탕,의류,79000,16075000.0
13,2019-01-01 09:20:00,20.0,100816,202404,보코 리버시블 무스탕,의류,79000,25628000.0
14,2019-01-01 09:40:00,20.0,100816,202404,보코 리버시블 무스탕,의류,79000,49270000.0
15,2019-01-01 10:00:00,20.0,100809,202395,CERINI by PAT 남성 풀패키지 기모니트 3종,의류,79900,48799000.0
16,2019-01-01 10:20:00,20.0,100809,202395,CERINI by PAT 남성 풀패키지 기모니트 3종,의류,79900,97907000.0
17,2019-01-01 10:40:00,20.0,100809,202395,CERINI by PAT 남성 풀패키지 기모니트 3종,의류,79900,112972000.0
18,2019-01-01 11:00:00,20.0,100664,201999,크로커다일 The 편안한 코튼 브라팬티 4세트,속옷,69900,24531000.0
19,2019-01-01 11:20:00,20.0,100664,201999,크로커다일 The 편안한 코튼 브라팬티 4세트,속옷,69900,49829000.0

In [20]:
df["판매량"] = df["취급액"]/df['판매단가']

In [22]:
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매량
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.606516
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.548872
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.310777
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045
...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN

In [61]:
nocost

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매량
2318,2019-01-25 19:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN,NaN
2845,2019-01-31 18:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN,NaN
3332,2019-02-05 18:00:00,60.000000,100507,201567,TCOM_처브치아보험,무형,0,NaN,NaN
6570,2019-03-09 00:00:00,20.000000,100324,201095,온라인투어 동남아 나트랑/빈펄랜드 (190309),무형,0,NaN,NaN
6571,2019-03-09 00:20:00,20.000000,100324,201095,온라인투어 동남아 나트랑/빈펄랜드 (190309),무형,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN

In [27]:
nocost = df[df['취급액'].isna()]
nocost["상품군"].unique()

array(['무형'], dtype=object)

In [29]:
df[df["상품군"]=="무형"]["판매단가"].unique()

array([0], dtype=int64)

In [32]:
df[df["노출(분)"].isna()].count()

방송일시     16784
노출(분)        0
마더코드     16784
상품코드     16784
상품명      16784
상품군      16784
판매단가     16784
취급액      16784
판매량      16784
dtype: int64

In [38]:
len(df[df["노출(분)"].isna()]["상품명"].unique())

713

In [44]:
df[df["노출(분)"].isna()]["취급액"] == 50000

1        False
3        False
5        False
26       False
28       False
         ...
38298    False
38299    False
38301    False
38302    False
38303    False
Name: 취급액, Length: 16784, dtype: bool

In [51]:
len(df[df['취급액'] == 50000]['상품명'].unique())

293

In [52]:
len(df[df["판매량"]< 1]['상품명'].unique())

291

In [57]:
t = df[df['취급액'] == 50000]['상품명'].unique()
t2 = df[df["판매량"]< 1]['상품명'].unique()

In [58]:
for i in t:
    if i not in t2:
        print(i)

1세트 센티멘탈 디퓨저골드
오델로 남성 겨울모자 3종

In [65]:
costall = df[df["상품군"] != '무형']

In [68]:
costall[costall['취급액'].isna()]

Empty DataFrame
Columns: [방송일시, 노출(분), 마더코드, 상품코드, 상품명, 상품군, 판매단가, 취급액, 판매량]
Index: []

In [ ]:
rate = pd.read_excel(path + '2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx', skiprows=[0])
rate

In [ ]:
rate_orginal = rate.copy()

In [ ]:
rate = rate.iloc[:-1, :-1]
rate

In [ ]:
type(rate["시간대"][0])

In [ ]:
rate.rename(columns = {'시간대' : 'time'}, inplace = True)

In [ ]:
rate

In [ ]:
time_h = []
for i in rate['time']:
    time_h.append(i[0:2])

time_h

In [ ]:
rate["time_h"] = time_h

In [ ]:
rate

In [ ]:
h = rate.groupby("time_h").mean()
h

In [ ]:
sns.pairplot(data = h)

In [ ]:
sns.catplot(x="variable", y="value", data = h1)