In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [4]:
df = pd.read_excel("maindata/01_제공데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx", index_col=[0])
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
02:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.003
02:01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.005,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.012,0.003
02:02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.005,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004
02:03,0.000,0.000,0.014,0.000,0.000,0.000,0.000,0.000,0.000,0.005,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
02:04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.005,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01:56,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000,0.000,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
01:57,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
01:58,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,0.000,...,0.013,0.017,0.000,0.000,0.015,0.000,0.000,0.019,0.000,0.004
01:59,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,0.002,...,0.010,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005,0.004

In [5]:
view = df.T
view.reset_index(inplace=True)
view = view.iloc[:-1, :-1]
view

,index,02:00,02:01,02:02,02:03,02:04,02:05,02:06,02:07,02:08,...,01:50,01:51,01:52,01:53,01:54,01:55,01:56,01:57,01:58,01:59
0,2019-01-01,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2019-01-02,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2019-01-03,0.0,0.000,0.0,0.014,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2019-01-04,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2019-01-05,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2019-12-27,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015
361,2019-12-28,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
362,2019-12-29,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
363,2019-12-30,0.0,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.019,0.000
364,2019-12-31,0.0,0.012,0.0,0.000,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [6]:
v1 = pd.melt(view, id_vars=["index"], var_name = "time", value_name= 'rate')
v1

             index   time   rate
0       2019-01-01  02:00  0.000
1       2019-01-02  02:00  0.000
2       2019-01-03  02:00  0.000
3       2019-01-04  02:00  0.000
4       2019-01-05  02:00  0.000
...            ...    ...    ...
525595  2019-12-27  01:59  0.015
525596  2019-12-28  01:59  0.000
525597  2019-12-29  01:59  0.000
525598  2019-12-30  01:59  0.000
525599  2019-12-31  01:59  0.000

[525600 rows x 3 columns]

In [7]:
v1 = v1.rename(columns = {"index":"date"})
v1["hour"] = [i[0:2] for i in v1["time"]]
v1

              date   time   rate hour
0       2019-01-01  02:00  0.000   02
1       2019-01-02  02:00  0.000   02
2       2019-01-03  02:00  0.000   02
3       2019-01-04  02:00  0.000   02
4       2019-01-05  02:00  0.000   02
...            ...    ...    ...  ...
525595  2019-12-27  01:59  0.015   01
525596  2019-12-28  01:59  0.000   01
525597  2019-12-29  01:59  0.000   01
525598  2019-12-30  01:59  0.000   01
525599  2019-12-31  01:59  0.000   01

[525600 rows x 4 columns]

In [9]:
v1 = v1.replace(0, np.NaN)

In [10]:
v1_count = v1.groupby(['date','hour'])["rate"].count().reset_index()
v1_count

            date hour  rate
0     2019-01-01   00    10
1     2019-01-01   01     2
2     2019-01-01   02     1
3     2019-01-01   03    20
4     2019-01-01   04    60
...          ...  ...   ...
8755  2019-12-31   19    11
8756  2019-12-31   20     4
8757  2019-12-31   21     4
8758  2019-12-31   22    37
8759  2019-12-31   23    18

[8760 rows x 3 columns]