# 분리되었을떄... 시간으로 바꾸기 위해서#
for idx, i in enumerate(df["방송일시"]):
    df['방송일시'][idx] = datetime.datetime.strptime(i, "%Y-%m-%d").date()

In [38]:
import pandas as pd
import datetime 
from datetime import datetime, timedelta

In [39]:
df =  pd.read_excel("maindata/01_제공데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터_v1_200818.xlsx", skiprows=[0])
df1 = pd.read_excel("maindata/01_제공데이터/2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx", skiprows=[0])
two = pd.read_excel('24절기.xlsx')

In [40]:
two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   절 기         25 non-null     object
 1   date_s      25 non-null     datetime64[ns]
 2   Unnamed: 2  25 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 728.0+ bytes

In [41]:
df

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0
...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [42]:
df['time'] = df['방송일시'].dt.time
df['date'] = df["방송일시"].dt.date
df["판매수"] = df['취급액']/df['판매단가']

data = df[['date','time', '노출(분)', '마더코드', '상품코드', '상품명', '상품군', '판매단가', '취급액', '판매수']].copy()
data = data[data['상품군'] != "무형"]

In [43]:
#상품군이 무형이 아니면서 하나도 안팔린 제품들의 상품군

set(data[data['취급액'].isna()]["상품군"].tolist())

{'가구', '가전', '건강기능', '생활용품', '속옷', '의류', '잡화', '주방', '침구'}

In [44]:
data

,date,time,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수
0,2019-01-01,06:00:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,52.606516
1,2019-01-01,06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,109.548872
2,2019-01-01,06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386
3,2019-01-01,06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.310777
4,2019-01-01,06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045
...,...,...,...,...,...,...,...,...,...,...
38299,2019-12-31,23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000.0,68.628378
38300,2020-01-01,00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,286.117978
38301,2020-01-01,00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,621.380952
38302,2020-01-01,00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,87.120253
38303,2020-01-01,00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,314.918919

In [45]:
two = two.rename(columns = {"절 기":'절기', "Unnamed: 2":'date_f', 'date_s':'date'})
two

       절기       date     date_f
0      입춘 2019-02-04 2019-02-17
1      우수 2019-02-18 2019-03-04
2      경칩 2019-03-05 2019-03-19
3      춘분 2019-03-20 2019-04-03
4      청명 2019-04-04 2019-04-19
5      곡우 2019-04-20 2019-05-04
6      입하 2019-05-05 2019-05-20
7      소만 2019-05-21 2019-06-04
8      망종 2019-06-05 2019-06-20
9      하지 2019-06-21 2019-07-06
10     소서 2019-07-07 2019-07-21
11     대서 2019-07-22 2019-08-06
12     입추 2019-08-07 2019-08-22
13     처서 2019-08-23 2019-09-06
14     백로 2019-09-07 2019-09-22
15     추분 2019-09-23 2019-10-07
16     한로 2019-10-08 2019-10-22
17     상강 2019-10-23 2019-11-06
18     입동 2019-11-07 2019-11-21
19     소설 2019-11-22 2019-12-06
20     대설 2019-12-07 2019-12-20
21     동지 2019-12-21 2019-12-31
22     소한 2019-01-05 2019-01-19
23     대한 2019-01-01 2019-02-03
24  2020년 2020-01-01 2020-02-28

In [ ]:
print(two["절기"].tolist())

#pd.merge(data, two[["date",'절기']],how="left", on = "date" )
data1= data.set_index('date')
two2 = two[["date",'절기']].set_index('date')
data2 = data1.join(two2).reset_index()

In [11]:
two

,절기,date,date_f,days
0,입춘,2019-02-04,2019-02-17,"[2019-02-04 00:00:00, 2019-02-05 00:00:00, 201..."
1,우수,2019-02-18,2019-03-04,"[2019-02-18 00:00:00, 2019-02-19 00:00:00, 201..."
2,경칩,2019-03-05,2019-03-19,"[2019-03-05 00:00:00, 2019-03-06 00:00:00, 201..."
3,춘분,2019-03-20,2019-04-03,"[2019-03-20 00:00:00, 2019-03-21 00:00:00, 201..."
4,청명,2019-04-04,2019-04-19,"[2019-04-04 00:00:00, 2019-04-05 00:00:00, 201..."
5,곡우,2019-04-20,2019-05-04,"[2019-04-20 00:00:00, 2019-04-21 00:00:00, 201..."
6,입하,2019-05-05,2019-05-20,"[2019-05-05 00:00:00, 2019-05-06 00:00:00, 201..."
7,소만,2019-05-21,2019-06-04,"[2019-05-21 00:00:00, 2019-05-22 00:00:00, 201..."
8,망종,2019-06-05,2019-06-20,"[2019-06-05 00:00:00, 2019-06-06 00:00:00, 201..."
9,하지,2019-06-21,2019-07-06,"[2019-06-21 00:00:00, 2019-06-22 00:00:00, 201..."
10,소서,2019-07-07,2019-07-21,"[2019-07-07 00:00:00, 2019-07-08 00:00:00, 201..."
11,대서,2019-07-22,2019-08-06,"[2019-07-22 00:00:00, 2019-07-23 00:00:00, 201..."
12,입추,2019-08-07,2019-08-22,"[2019-08-07 00:00:00, 2019-08-08 00:00:00, 201..."
13,처서,2019-08-23,2019-09-06,"[2019-08-23 00:00:00, 2019-08-24 00:00:00, 201..."
14,백로,2019-09-07,2019-09-22,"[2019-09-07 00:00:00, 2019-09-08 00:00:00, 201..."
15,추분,2019-09-23,2019-10-07,"[2019-09-23 00:00:00, 2019-09-24 00:00:00, 201..."
16,한로,2019-10-08,2019-10-22,"[2019-10-08 00:00:00, 2019-10-09 00:00:00, 201..."
17,상강,2019-10-23,2019-11-06,"[2019-10-23 00:00:00, 2019-10-24 00:00:00, 201..."
18,입동,2019-11-07,2019-11-21,"[2019-11-07 00:00:00, 2019-11-08 00:00:00, 201..."
19,소설,2019-11-22,2019-12-06,"[2019-11-22 00:00:00, 2019-11-23 00:00:00, 201..."
20,대설,2019-12-07,2019-12-20,"[2019-12-07 00:00:00, 2019-12-08 00:00:00, 201..."
21,동지,2019-12-21,2019-12-31,"[2019-12-21 00:00:00, 2019-12-22 00:00:00, 201..."
22,소한,2019-01-05,2019-01-19,"[2019-01-05 00:00:00, 2019-01-06 00:00:00, 201..."
23,대한,2019-01-01,2019-02-03,"[2019-01-01 00:00:00, 2019-01-02 00:00:00, 201..."
24,2020년,2020-01-01,2020-02-28,"[2020-01-01 00:00:00, 2020-01-02 00:00:00, 202..."

num = 0
for i in range(len(test)):
    if test["date"][i] in two['days'][num]:
        test["절기"] = two["절기"][num]

In [35]:
print(two["절기"].tolist())

['입춘', '우수', '경칩', '춘분', '청명', '곡우', '입하', '소만', '망종', '하지', '소서', '대서', '입추', '처서', '백로', '추분', '한로', '상강', '입동', '소설', '대설', '동지', '소한', '대한', '2020년']

In [36]:
df_입춘 = data[(data["date"] >= two["date"][0])& (data["date"] < two["date_f"][0])].copy()
df_우수 = data[(data["date"] >= two["date"][1])& (data["date"] < two["date_f"][1])].copy()
df_경칩 = data[(data["date"] >= two["date"][2])& (data["date"] < two["date_f"][2])].copy()
df_춘분 = data[(data["date"] >= two["date"][3])& (data["date"] < two["date_f"][3])].copy()
df_청명 = data[(data["date"] >= two["date"][4])& (data["date"] < two["date_f"][4])].copy()
df_곡우 = data[(data["date"] >= two["date"][5])& (data["date"] < two["date_f"][5])].copy()
df_입하 = data[(data["date"] >= two["date"][6])& (data["date"] < two["date_f"][6])].copy()
df_소만 = data[(data["date"] >= two["date"][7])& (data["date"] < two["date_f"][7])].copy()
df_망종 = data[(data["date"] >= two["date"][8])& (data["date"] < two["date_f"][8])].copy()
df_하지 = data[(data["date"] >= two["date"][9])& (data["date"] < two["date_f"][9])].copy()
df_소서 = data[(data["date"] >= two["date"][10])& (data["date"] < two["date_f"][10])].copy()
df_대서 = data[(data["date"] >= two["date"][11])& (data["date"] < two["date_f"][11])].copy()
df_입추 = data[(data["date"] >= two["date"][12])& (data["date"] < two["date_f"][12])].copy()
df_처서 = data[(data["date"] >= two["date"][13])& (data["date"] < two["date_f"][13])].copy()
df_백로 = data[(data["date"] >= two["date"][14])& (data["date"] < two["date_f"][14])].copy()
df_추분 = data[(data["date"] >= two["date"][15])& (data["date"] < two["date_f"][15])].copy()
df_한로 = data[(data["date"] >= two["date"][16])& (data["date"] < two["date_f"][16])].copy()
df_상강 = data[(data["date"] >= two["date"][17])& (data["date"] < two["date_f"][17])].copy()
df_입동 = data[(data["date"] >= two["date"][18])& (data["date"] < two["date_f"][18])].copy()
df_소설 = data[(data["date"] >= two["date"][19])& (data["date"] < two["date_f"][19])].copy()
df_대설 = data[(data["date"] >= two["date"][20])& (data["date"] < two["date_f"][20])].copy()
df_동지 = data[(data["date"] >= two["date"][21])& (data["date"] < two["date_f"][21])].copy()
df_소한 = data[(data["date"] >= two["date"][22])& (data["date"] < two["date_f"][22])].copy()
df_대한= data[(data["date"] >= two["date"][23])& (data["date"] < two["date_f"][23])].copy()
df_20 = data[(data["date"] >= two["date"][24])& (data["date"] < two["date_f"][24])].copy()

,date,time,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,판매수,절기
38300,2020-01-01,00:00:00,20.0,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000.0,286.117978,소한
38301,2020-01-01,00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000.0,621.380952,소한
38302,2020-01-01,00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000.0,87.120253,소한
38303,2020-01-01,00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000.0,314.918919,소한

In [32]:
for i in range(23):
    #name = two["절기"][i]
    df = data[(data["date"] >= two["date"][i])& (data["date"] < two["date_f"][i])]
    data["절기"] = two["절기"][i]